In [1]:
#import dependencies
import os
import csv
import pandas as pd

In [2]:
# File to Load
file_to_load = "Resources/dog_breed_characteristics.csv"
# Read Purchasing File and store into Pandas data frame
dog_characteristics = pd.read_csv(file_to_load, encoding="utf-8")
dog_characteristics

,BreedName,AltBreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,MalaysiaGuardedDog,MalaysiaProhibitedDog,MalaysiaPopularity,PopularityUS2017
0,Affenpinscher,NaN,Toy,Companion,4,"Active, Adventurous, Curious, Fun-loving, Play...",1000,37.0,1.0,NaN,NaN,NaN,147.0
1,Afghan Hound,NaN,Sporting,Sight,28,"Aloof, Clownish, Dignified, Happy, Independent",2250,79.0,1.0,NaN,NaN,NaN,93.0
2,Airedale Terrier,Airedale,Terrier,Terrier,26,"Alert, Confident, Courageous, Friendly, Intell...",700,29.0,4.0,NaN,NaN,NaN,55.0
3,Akbash,NaN,Working,Guardian,53,"Affectionate, Alert, Courageous, Independent, ...",600,NaN,5.0,NaN,NaN,NaN,NaN
4,Akita,NaN,Working,Herding,44,"Alert, Courageous, Dignified, Docile, Friendly...",1000,54.0,5.0,NaN,1.0,NaN,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,Wire-haired Pointing Griffon,NaN,Sporting,Gun,25,"Gentle, Loyal, Proud, Trainable, Vigilant, Int...",700,46.0,5.0,NaN,NaN,NaN,65.0
241,Wirehaired Terrier,NaN,Terrier,Terrier,7,"Alert, Bold, Fearless, Friendly, Keen, Quick, ...",900,51.0,3.0,NaN,NaN,NaN,99.0
242,Xoloitzcuintle/Mexican Hairless,Mexican Hairless,Non Sporting,Sight,11,"Aleret, Calm, Cheerful, Companionable, Loyal, ...",700,NaN,3.0,NaN,NaN,NaN,143.0
243,Yellow Labrador Retriever,NaN,Sporting,Gun,32,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500,7.0,3.0,NaN,NaN,NaN,1.0
244,Yorkshire Terrier Yorkie,Yorkshire Terrier,Toy,Companion,3,"Alert, Courageous, Energetic, Independent, Int...",800,27.0,3.0,NaN,NaN,NaN,9.0

In [4]:
 # Remove unecessary columns from the DataFrame and save the new DataFrame
    # Only keep: "BreedName", "Group1", "Temperment", "AvgPupPrice", "PopularityUS2017"

dogs_cleaned_df = dog_characteristics[["BreedName", "Group1", "Temperment", "AvgPupPrice",
                       "PopularityUS2017"]]

dogs_cleaned_df.head()

,BreedName,Group1,Temperment,AvgPupPrice,PopularityUS2017
0,Affenpinscher,Toy,"Active, Adventurous, Curious, Fun-loving, Play...",1000,147.0
1,Afghan Hound,Sporting,"Aloof, Clownish, Dignified, Happy, Independent",2250,93.0
2,Airedale Terrier,Terrier,"Alert, Confident, Courageous, Friendly, Intell...",700,55.0
3,Akbash,Working,"Affectionate, Alert, Courageous, Independent, ...",600,NaN
4,Akita,Working,"Alert, Courageous, Dignified, Docile, Friendly...",1000,47.0

In [5]:
# Push the remade DataFrame to a new CSV file
dogs_cleaned_df.to_csv("Output/dog_breed_characteristics_clean.csv",
                  encoding="utf-8", index=False, header=True)